<div
    style="background-color: #c0dcf7;"
    class="cta-area pt-50 pb-50"
    [class.component-rtl-enabled]="themeService.isRTLEnabled()"
>
    <div class="container position-relative z-1" style="padding: 3rem;">
        <div class="cta-content text-center ml-auto mr-auto">
            <h2>
                Unlock a world of possibilities with Ax Media Scraper.
            </h2>
            <p>
                Maximize your revenue potential by leveraging the power of influencer marketing—connect with the right creators, amplify your brand message, and drive measurable growth through authentic, high-impact collaborations.
            </p>
            <button routerLink="/dashboard" mat-button>
                Book a demo
            </button>
        </div>
        <div class="shape1">
            <img src="images/front-pages/shape4.png" alt="shape1">
        </div>
        <div class="shape2">
            <img src="images/front-pages/shape4png" alt="shape2">
        </div>
    </div>
</div>