::ng-deep {
    .front-pages {
        // --primaryColor: #4936F5;
        // --purpleColor: #9135E8;
        --primaryColor: #2183d6;
        --purpleColor: #1466b5;
        overflow: hidden;
    
        p {
            line-height: 1.6;
        }
    }
}