<div class="card-wrapper">
    <div class="search-wrapper">
      <div class="search-bar-container">
        <!-- Platform Dropdown -->
        <div class="search-bar-container2">
   
            <div class="custom-dropdown" (click)="toggleDropdown()" [class.open]="isOpen">
                <div class="selected-option">
                  <img *ngIf="selectedOption" [src]="selectedOption.image" alt="Selected" />
                  {{ selectedOption.label || 'Select an option' }}
                  <span class="arrow">&#9662;</span>
                </div>
                <ul class="options-list" [ngClass]="{'open': isOpen}">
                  <li
                    *ngFor="let option of options"
                    style="padding: 10px;"
                    (click)="selectOption(option, $event)"
                  >
                    <img [src]="option.image" alt="{{ option.label }}" />
                    {{ option.label }}
                  </li>
                </ul>
              </div>        
            
              <div class="search-container">
                <input
                  type="text"
                  class="search-input"
                  placeholder="Search by category or keyword" />
                <span class="search-icon">
                  🔍
                </span>
              </div>
          </div>
          
        <!-- Filters -->
        <div class="filters">
          <select>
            <option>Followers</option>
            <option>10K+</option>
            <option>50K+</option>
          </select>
          <select>
            <option>Engagement</option>
            <option>High</option>
            <option>Medium</option>
          </select>
          <select>
            <option>Location</option>
            <option>USA</option>
            <option>UK</option>
          </select>
          <select>
            <option>All Filters</option>
          </select>
        </div>

        <!-- Search Button -->
        <button class="search-btn">Search</button>
      </div>
    </div>
</div>
