<div class="card-wrapper">
  <!-- <mat-card> -->
    <div class="search-wrapper">
      <div class="search-bar-container">
        <!-- Platform Dropdown -->
        <div class="search-bar-container2">
            <!-- <select class="platform-dropdown">
              <option value="instagram" selected><img src="assets/images/instagram.png" alt="Instagram" style="width: 20px; height: 20px;">Instagram</option>
              <option value="facebook"><img src="assets/images/tiktok.png" alt="tiktok" style="width: 20px; height: 20px;">Tiktok</option>
              <option value="youtube"><img src="assets/images/youtube.png" alt="YouTube" style="width: 20px; height: 20px;">YouTube</option>
            </select> -->

            <mat-form-field appearance="fill" class="platform-dropdown">
                <mat-label>Choose Platform</mat-label>
                <mat-select [(value)]="selectedPlatform">
                  <mat-option *ngFor="let platform of platforms" [value]="platform.value">
                    <img [src]="platform.icon" alt="{{ platform.label }}" class="option-icon" style="width: 15px; height: 15px;" />
                    {{ platform.label }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              
            
            <input
              type="text"
              class="search-input"
              placeholder="Search by category or keyword" />
          </div>
          
        <!-- Filters -->
        <div class="filters">
          <select>
            <option>Followers</option>
            <option>10K+</option>
            <option>50K+</option>
          </select>
          <select>
            <option>Engagement</option>
            <option>High</option>
            <option>Medium</option>
          </select>
          <select>
            <option>Location</option>
            <option>USA</option>
            <option>UK</option>
          </select>
          <select>
            <option>All Filters</option>
          </select>
        </div>

        <!-- Search Button -->
        <button class="search-btn">Search</button>
      </div>
    </div>
  <!-- </mat-card> -->
</div>
