<footer
    class="pt-150"
    [class.component-dark-theme]="themeService.isDark()"
    [class.component-rtl-enabled]="themeService.isRTLEnabled()"
>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="single-footer-widget">
                    <a routerLink="/" class="logo d-inline-block">
                        <img src="images/logo.png" alt="logo">
                        <img src="images/logo.png" class="d-none" alt="logo">
                    </a>
                    <p>
                        AxSocialMediaScraper lets you extract real-time data from TikTok, Instagram, and more so you and your team can analyze trends, track influencers, and stay ahead effortlessly.
                    </p>
                    <div class="socials">
                        <a href="#" class="d-inline-block lh-1" target="_blank">
                            <i class="ri-facebook-fill"></i>
                        </a>
                        <a href="#" class="d-inline-block lh-1" target="_blank">
                            <i class="ri-twitter-x-fill"></i>
                        </a>
                        <a href="#" class="d-inline-block lh-1" target="_blank">
                            <i class="ri-linkedin-fill"></i>
                        </a>
                        <a href="#" class="d-inline-block lh-1" target="_blank">
                            <i class="ri-dribbble-fill"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-footer-widget">
                    <h3 class="fw-semibold">
                        Our Products
                    </h3>
                    <ul class="p-0 custom-links m-0 list-unstyled">
                        <li>
                            <a routerLink="." class="d-inline-block">
                                About Us
                            </a>
                        </li>
                        <li>
                            <a routerLink="." class="d-inline-block">
                                Contact
                            </a>
                        </li>
                        <!-- <li>
                            <a routerLink="." class="d-inline-block">
                                eCademy LMS
                            </a>
                        </li>
                        <li>
                            <a routerLink="." class="d-inline-block">
                                Admash Template
                            </a>
                        </li> -->
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-footer-widget">
                    <h3 class="fw-semibold">
                        Quick Links
                    </h3>
                    <ul class="p-0 custom-links m-0 list-unstyled">
                        <li>
                            <a routerLink="." class="d-inline-block">
                                Home
                            </a>
                        </li>
                        <li>
                            <a routerLink="." class="d-inline-block">
                                Pricing
                            </a>
                        </li>
                        <li>
                            <a routerLink="." class="d-inline-block">
                                Resources
                            </a>
                        </li>
                        <!-- <li>
                            <a routerLink="." class="d-inline-block">
                                
                            </a>
                        </li> -->
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-footer-widget">
                    <h3 class="fw-semibold">
                        Privacy Policy
                    </h3>
                    <ul class="p-0 custom-links m-0 list-unstyled">
                        <li>
                            <a routerLink="." class="d-inline-block">
                                Terms & Conditions
                            </a>
                        </li>
                        <li>
                            <a routerLink="." class="d-inline-block">
                                Cookie Policy
                            </a>
                        </li>
                        <li>
                            <a routerLink="." class="d-inline-block">
                                Notice at Collection
                            </a>
                        </li>
                        <li>
                            <a routerLink="." class="d-inline-block">
                                Privacy Policy
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-area bg-white text-center">
        <div class="container">
            <p>
                © <span>2025</span> All rights reserved, AxScraper
            </p>
        </div>
    </div>
</footer>