.key-features-area {
    .section-title {
        max-width: 800px;
        margin-bottom: 60px;

        h2 {
            font: {
                size: 40px;
                weight: 700;
            };
            margin-bottom: 15px;
        }
        p {
            max-width: 600px;
            margin: {
                left: auto;
                right: auto;
            };
        }
    }
    .single-key-feature-box {
        margin-bottom: 30px;
        padding: 30px;
        border-radius: 5px;
        background-color: var(--whiteColor);
        transition: var(--transition);
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);

        .icon {
            width: 80px;
            height: 80px;
            font-size: 35px;
            border-radius: 50%;
            margin-bottom: 25px;
            color: var(--primaryColor);
            background-color: #f8f9fa;
            transition: var(--transition);

            img {
                max-width: 40px;
            }
        }
        h3 {
            font: {
                size: 22px;
                weight: 600;
            };
            margin-bottom: 15px;
        }
        p {
            margin-bottom: 0;
        }
        &:hover {
            transform: translateY(-10px);

            .icon {
                color: var(--whiteColor);
                background-color: var(--primaryColor);
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .key-features-area {
        padding: {
            top: 60px;
            bottom: 30px;
        };
        .section-title {
            margin-bottom: 30px;

            h2 {
                font-size: 25px;
                margin-bottom: 12px;
            }
        }
        .single-key-feature-box {
            padding: 20px;
            margin-bottom: 25px;

            .icon {
                width: 60px;
                height: 60px;
                font-size: 25px;
                margin-bottom: 20px;

                img {
                    max-width: 30px;
                }
            }
            h3 {
                font-size: 18px;
                margin-bottom: 12px;
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .key-features-area {
        padding: {
            top: 80px;
            bottom: 50px;
        };
        .section-title {
            margin-bottom: 40px;

            h2 {
                font-size: 35px;
            }
        }
        .single-key-feature-box {
            padding: 25px;

            .icon {
                width: 70px;
                height: 70px;
                font-size: 30px;
                margin-bottom: 22px;

                img {
                    max-width: 35px;
                }
            }
            h3 {
                font-size: 20px;
            }
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {

    .key-features-area {
        .section-title {
            h2 {
                font-size: 35px;
            }
        }
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}