
   <mat-card class="users-list-card table-style-two mb-25 border-radius d-block bg-white border-0 shadow-none">
    <mat-card-header>
      <mat-card-subtitle>
        <div class="search-box position-relative">
          <label>
            <i class="material-symbols-outlined">search</i>
          </label>
          <input type="text" class="input-search" placeholder="Search here..." (keyup)="applyFilter($event)">
        </div>
      </mat-card-subtitle>
    </mat-card-header>
  
    <mat-card-content>
      <div class="table-responsive">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
          <!-- Image Column -->
          <ng-container matColumnDef="image">
            <th mat-header-cell *matHeaderCellDef> Image </th>
            <td mat-cell *matCellDef="let result">
              <img [src]="result.image" alt="{{ result.image }}" class="result-image" />
            </td>
          </ng-container>
  
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Profile Name </th>
            <td mat-cell *matCellDef="let result">{{ result.name }}</td>
          </ng-container>

          <ng-container matColumnDef="followers">
            <th mat-header-cell *matHeaderCellDef> Followers </th>
            <td mat-cell *matCellDef="let result">{{ result.followers }}</td>
          </ng-container>
          
          <!-- Description Column -->
          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> Hashtags </th>
            <td mat-cell *matCellDef="let result">{{ result.hashtags }}</td>
          </ng-container>
  
          <!-- Link Column -->
          <ng-container matColumnDef="link">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let result">
              <a href="{{ result.link }}" class="result-link">View Details</a>
            </td>
          </ng-container>
  
          <!-- Header & Row -->
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
        </table>
      </div>
  
      <!-- Pagination -->
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of results"></mat-paginator>
    </mat-card-content>
  </mat-card>
      

   <!-- <div class="dummy-results">
    <div class="result-card" *ngFor="let result of dummyResults">
      <div class="result-header">
        <img [src]="result.image" alt="{{ result.name }}" class="result-image" />
        <h3 class="result-name">{{ result.name }}</h3>
      </div>
      <p class="result-description">{{ result.description }}</p>
      <a href="{{ result.link }}" class="result-link">View Details</a>
    </div>
  </div> -->