<div class="featured-selection-container">
    <h2 class="main-heading">Featured Selection</h2>
  
    <div class="cards-grid">
      <mat-card class="featured-card">
        <mat-card-title>Top Fashion Instagramers in Pakistan</mat-card-title>
      </mat-card>
  
      <mat-card class="featured-card">
        <mat-card-title>Top Lifestyle Tiktokers in Pakistan</mat-card-title>
      </mat-card>
  
      <mat-card class="featured-card">
        <mat-card-title>Top Fitness Youtubers in Pakistan</mat-card-title>
      </mat-card>
  
      <mat-card class="featured-card">
        <mat-card-title>Top Instagramers in Madrid</mat-card-title>
      </mat-card>
  
      <mat-card class="featured-card">
        <mat-card-title>Top Youtubers in New York</mat-card-title>
      </mat-card>
  
      <mat-card class="featured-card">
        <mat-card-title>Top Tiktokers in Tokyo</mat-card-title>
      </mat-card>
    </div>
  </div>
  