<div
    class="widgets-area pb-150"
    [class.component-rtl-enabled]="themeService.isRTLEnabled()"
>
    <div class="container position-relative z-1">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="widgets-image position-relative">
                    <div class="image">
                        <img src="images/front-pages/order-summary.png" alt="order-summary-image">
                    </div>
                    <div class="image2">
                        <img src="images/front-pages/courses-sales.jpg" alt="courses-sales-image">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="widgets-content">
                    <h2>
                        Find Millions of Influencers at Your Fingertips
                        <!-- Tailor Your Dashboard: Unleash the Power of Customizable Widgets -->
                    </h2>
                    <p>Access an extensive network of influencers across Instagram, TikTok, and YouTube. Heepsy's powerful search capabilities let you find influencers that perfectly match your brand.</p>
                    <h4 class="fw-bold">Filter by:</h4>
                    <ul class="mb-0 features-list list-unstyled">
                        <li class="position-relative">
                            <i class="material-symbols-outlined">
                                done_outline
                            </i>
                            <h3 class="fw-semibold">
                                Category
                            </h3>
                            <!-- <p>
                                Easily arrange, resize, and configure widgets to showcase the data most relevant to your workflow.
                            </p> -->
                        </li>
                        <li class="position-relative">
                            <i class="material-symbols-outlined">
                                done_outline
                            </i>
                            <h3 class="fw-semibold">
                                Location
                            </h3>
                            <!-- <p>
                                Customize widget content and visualization options to match your specific preferences and priorities.
                            </p> -->
                        </li>
                        <li class="position-relative">
                            <i class="material-symbols-outlined">
                                done_outline
                            </i>
                            <h3 class="fw-semibold">
                                Engagement
                            </h3>
                            <!-- <p>
                                Adapt widgets to evolving business needs by adjusting layouts, styles, and data sources with ease.
                            </p> -->
                        </li>
                        <li class="position-relative">
                            <i class="material-symbols-outlined">
                                done_outline
                            </i>
                            <h3 class="fw-semibold">
                                Audience
                            </h3>
                            <!-- <p>
                                Integrate widgets seamlessly with other dashboard components and external systems for a cohesive user experience.
                            </p> -->
                        </li>
                        <li class="position-relative">
                            <i class="material-symbols-outlined">
                                done_outline
                            </i>
                            <h3 class="fw-semibold">
                                Authenticity
                            </h3>
                            <!-- <p>
                                Integrate widgets seamlessly with other dashboard components and external systems for a cohesive user experience.
                            </p> -->
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="shape1">
            <img src="images/front-pages/shape4.png" alt="shape1">
        </div>
        <div class="shape2">
            <img src="images/front-pages/shape4.png" alt="shape2">
        </div>
    </div>

    <hr style="border-top: 2px solid #49a0e7; width: 30%; margin: 4rem auto;">

    <div class="container position-relative z-1 mt-[2rem] py-5"> <!-- Added vertical spacing -->
        <div class="row align-items-center">
            <!-- TEXT FIRST, then IMAGES -->
            <div class="col-lg-6 col-md-12 order-1 order-lg-0"> <!-- Text on left -->
                <div class="widgets-content pe-lg-5"> <!-- Optional: right padding for spacing -->
                    <h2>
                        Analyze Creator Authenticity
                    </h2>
                    <p>Ensure authenticity and brand fit with Heepsy's detailed analysis of creator profiles. Make informed decisions by understanding influencers' true impact and audience engagement.</p>
                    <h4 class="fw-bold">Filter by:</h4>
                    <ul class="mb-0 features-list list-unstyled">
                        <!-- <li class="position-relative">
                            <i class="material-symbols-outlined">done_outline</i>
                            <h3 class="fw-semibold">Category</h3>
                        </li>
                        <li class="position-relative">
                            <i class="material-symbols-outlined">done_outline</i>
                            <h3 class="fw-semibold">Location</h3>
                        </li> -->
                        <li class="position-relative">
                            <i class="material-symbols-outlined">done_outline</i>
                            <h3 class="fw-semibold">Publication insights</h3>
                        </li>
                        <li class="position-relative">
                            <i class="material-symbols-outlined">done_outline</i>
                            <h3 class="fw-semibold">Demographics</h3>
                        </li>
                        <li class="position-relative">
                            <i class="material-symbols-outlined">done_outline</i>
                            <h3 class="fw-semibold">Authenticity</h3>
                        </li>
                    </ul>
                </div>
            </div>
    
            <div class="col-lg-6 col-md-12 order-0 order-lg-1"> <!-- Images on right -->
                <div class="widgets-image position-relative ps-lg-5"> <!-- Optional: left padding for spacing -->
                    <div class="image">
                        <img src="images/front-pages/order-summary.png" alt="order-summary-image">
                    </div>
                    <div class="image2">
                        <img src="images/front-pages/courses-sales.jpg" alt="courses-sales-image">
                    </div>
                </div>
            </div>
        </div>
    
        <div class="shape1">
            <img src="images/front-pages/shape4.png" alt="shape1">
        </div>
        <div class="shape2">
            <img src="images/front-pages/shape4.png" alt="shape2">
        </div>
    </div>
    
    <hr style="border-top: 2px solid #49a0e7; width: 30%; margin: 4rem auto;">

    <div class="container position-relative z-1">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="widgets-image position-relative">
                    <div class="image">
                        <img src="images/front-pages/order-summary.png" alt="order-summary-image">
                    </div>
                    <div class="image2">
                        <img src="images/front-pages/courses-sales.jpg" alt="courses-sales-image">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="widgets-content">
                    <h2>
                        Contact influencers in seconds
                        <!-- Tailor Your Dashboard: Unleash the Power of Customizable Widgets -->
                    </h2>
                    <p>Add your favorite influencers to lists, find influencers that match your criteria, and contact them in bulk.</p>
                    <h4 class="fw-bold">Filter by:</h4>
                    <ul class="mb-0 features-list list-unstyled">
                        <li class="position-relative">
                            <i class="material-symbols-outlined">
                                done_outline
                            </i>
                            <h3 class="fw-semibold">
                                Bulk outreach
                            </h3>
                            <!-- <p>
                                Easily arrange, resize, and configure widgets to showcase the data most relevant to your workflow.
                            </p> -->
                        </li>
                        <li class="position-relative">
                            <i class="material-symbols-outlined">
                                done_outline
                            </i>
                            <h3 class="fw-semibold">
                                Contact details
                            </h3>
                            <!-- <p>
                                Customize widget content and visualization options to match your specific preferences and priorities.
                            </p> -->
                        </li>
                        <li class="position-relative">
                            <i class="material-symbols-outlined">
                                done_outline
                            </i>
                            <h3 class="fw-semibold">
                                Export in csv
                            </h3>
                            <!-- <p>
                                Adapt widgets to evolving business needs by adjusting layouts, styles, and data sources with ease.
                            </p> -->
                        </li>
                        <li class="position-relative">
                            <i class="material-symbols-outlined">
                                done_outline
                            </i>
                            <h3 class="fw-semibold">
                                Outreach Analytics
                            </h3>
                            <!-- <p>
                                Integrate widgets seamlessly with other dashboard components and external systems for a cohesive user experience.
                            </p> -->
                        </li>
                        <li class="position-relative">
                            <i class="material-symbols-outlined">
                                done_outline
                            </i>
                            <h3 class="fw-semibold">
                                Email Sync
                            </h3>
                            <!-- <p>
                                Integrate widgets seamlessly with other dashboard components and external systems for a cohesive user experience.
                            </p> -->
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="shape1">
            <img src="images/front-pages/shape4.png" alt="shape1">
        </div>
        <div class="shape2">
            <img src="images/front-pages/shape4.png" alt="shape2">
        </div>
    </div>

    <hr style="border-top: 2px solid #49a0e7; width: 30%; margin: 4rem auto;">

    <div class="container position-relative z-1 mt-[2rem] py-5"> <!-- Added vertical spacing -->
        <div class="row align-items-center">
            <!-- TEXT FIRST, then IMAGES -->
            <div class="col-lg-6 col-md-12 order-1 order-lg-0"> <!-- Text on left -->
                <div class="widgets-content pe-lg-5"> <!-- Optional: right padding for spacing -->
                    <h2>
                        Receive creator applications effortlessly
                    </h2>
                    <p>List your campaign offer on Heepsy's marketplace, sit back and wait for creators to knock on your door.</p>
                    <h4 class="fw-bold">Filter by:</h4>
                    <ul class="mb-0 features-list list-unstyled">
                        <!-- <li class="position-relative">
                            <i class="material-symbols-outlined">done_outline</i>
                            <h3 class="fw-semibold">Category</h3>
                        </li>
                        <li class="position-relative">
                            <i class="material-symbols-outlined">done_outline</i>
                            <h3 class="fw-semibold">Location</h3>
                        </li> -->
                        <li class="position-relative">
                            <i class="material-symbols-outlined">done_outline</i>
                            <h3 class="fw-semibold"> Offer listing</h3>
                        </li>
                        <li class="position-relative">
                            <i class="material-symbols-outlined">done_outline</i>
                            <h3 class="fw-semibold">Offer distribution</h3>
                        </li>
                        <li class="position-relative">
                            <i class="material-symbols-outlined">done_outline</i>
                            <h3 class="fw-semibold">Product catalog integration</h3>
                        </li>
                    </ul>
                </div>
            </div>
    
            <div class="col-lg-6 col-md-12 order-0 order-lg-1"> <!-- Images on right -->
                <div class="widgets-image position-relative ps-lg-5"> <!-- Optional: left padding for spacing -->
                    <div class="image">
                        <img src="images/front-pages/order-summary.png" alt="order-summary-image">
                    </div>
                    <div class="image2">
                        <img src="images/front-pages/courses-sales.jpg" alt="courses-sales-image">
                    </div>
                </div>
            </div>
        </div>
    
        <div class="shape1">
            <img src="images/front-pages/shape4.png" alt="shape1">
        </div>
        <div class="shape2">
            <img src="images/front-pages/shape4.png" alt="shape2">
        </div>
    </div>

    <hr style="border-top: 2px solid #49a0e7; width: 30%; margin: 4rem auto;">

    <div class="container position-relative z-1">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="widgets-image position-relative">
                    <div class="image">
                        <img src="images/front-pages/order-summary.png" alt="order-summary-image">
                    </div>
                    <div class="image2">
                        <img src="images/front-pages/courses-sales.jpg" alt="courses-sales-image">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="widgets-content">
                    <h2>
                        Organize & manage easily
                        <!-- Tailor Your Dashboard: Unleash the Power of Customizable Widgets -->
                    </h2>
                    <p>Enjoy seamless campaign management that allows you to easily discover influencers, with flexible pipelines, simple payments, and an integrated media gallery.</p>
                    <h4 class="fw-bold">Filter by:</h4>
                    <ul class="mb-0 features-list list-unstyled">
                        <li class="position-relative">
                            <i class="material-symbols-outlined">
                                done_outline
                            </i>
                            <h3 class="fw-semibold">
                                Flexible pipelines
                            </h3>
                            <!-- <p>
                                Easily arrange, resize, and configure widgets to showcase the data most relevant to your workflow.
                            </p> -->
                        </li>
                        <li class="position-relative">
                            <i class="material-symbols-outlined">
                                done_outline
                            </i>
                            <h3 class="fw-semibold">
                                Payments
                            </h3>
                            <!-- <p>
                                Customize widget content and visualization options to match your specific preferences and priorities.
                            </p> -->
                        </li>
                        <li class="position-relative">
                            <i class="material-symbols-outlined">
                                done_outline
                            </i>
                            <h3 class="fw-semibold">
                                Messaging
                            </h3>
                            <!-- <p>
                                Adapt widgets to evolving business needs by adjusting layouts, styles, and data sources with ease.
                            </p> -->
                        </li>
                        <li class="position-relative">
                            <i class="material-symbols-outlined">
                                done_outline
                            </i>
                            <h3 class="fw-semibold">
                                Media gallery
                            </h3>
                            <!-- <p>
                                Integrate widgets seamlessly with other dashboard components and external systems for a cohesive user experience.
                            </p> -->
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="shape1">
            <img src="images/front-pages/shape4.png" alt="shape1">
        </div>
        <div class="shape2">
            <img src="images/front-pages/shape4.png" alt="shape2">
        </div>
    </div>

    <hr style="border-top: 2px solid #49a0e7; width: 30%; margin: 4rem auto;">

    <div class="container position-relative z-1 mt-[2rem] py-5"> <!-- Added vertical spacing -->
        <div class="row align-items-center">
            <!-- TEXT FIRST, then IMAGES -->
            <div class="col-lg-6 col-md-12 order-1 order-lg-0"> <!-- Text on left -->
                <div class="widgets-content pe-lg-5"> <!-- Optional: right padding for spacing -->
                    <h2>
                        Monitor & Track Effortlessly
                    </h2>
                    <p>Automatically track your creators' media in real-time and stay updated with the latest content. With seamless tracking, you can effortlessly monitor posts, videos, and engagement metrics across multiple platforms, ensuring you never miss a crucial update.</p>
                    <h4 class="fw-bold">Filter by:</h4>
                    <ul class="mb-0 features-list list-unstyled">
                        <!-- <li class="position-relative">
                            <i class="material-symbols-outlined">done_outline</i>
                            <h3 class="fw-semibold">Category</h3>
                        </li>
                        <li class="position-relative">
                            <i class="material-symbols-outlined">done_outline</i>
                            <h3 class="fw-semibold">Location</h3>
                        </li> -->
                        <li class="position-relative">
                            <i class="material-symbols-outlined">done_outline</i>
                            <h3 class="fw-semibold"> Real-time tracking</h3>
                        </li>
                        <li class="position-relative">
                            <i class="material-symbols-outlined">done_outline</i>
                            <h3 class="fw-semibold">Automated media collection</h3>
                        </li>
                        <li class="position-relative">
                            <i class="material-symbols-outlined">done_outline</i>
                            <h3 class="fw-semibold">Engagement insights</h3>
                        </li>
                        <li class="position-relative">
                            <i class="material-symbols-outlined">done_outline</i>
                            <h3 class="fw-semibold"> Performance monitoring</h3>
                        </li>
                    </ul>
                </div>
            </div>
    
            <div class="col-lg-6 col-md-12 order-0 order-lg-1"> <!-- Images on right -->
                <div class="widgets-image position-relative ps-lg-5"> <!-- Optional: left padding for spacing -->
                    <div class="image">
                        <img src="images/front-pages/order-summary.png" alt="order-summary-image">
                    </div>
                    <div class="image2">
                        <img src="images/front-pages/courses-sales.jpg" alt="courses-sales-image">
                    </div>
                </div>
            </div>
        </div>
    
        <div class="shape1">
            <img src="images/front-pages/shape4.png" alt="shape1">
        </div>
        <div class="shape2">
            <img src="images/front-pages/shape4.png" alt="shape2">
        </div>
    </div>

    <hr style="border-top: 2px solid #49a0e7; width: 30%; margin: 4rem auto;">

    <div class="container position-relative z-1">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="widgets-image position-relative">
                    <div class="image">
                        <img src="images/front-pages/order-summary.png" alt="order-summary-image">
                    </div>
                    <div class="image2">
                        <img src="images/front-pages/courses-sales.jpg" alt="courses-sales-image">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="widgets-content">
                    <h2>
                        In-Depth Reporting
                        <!-- Tailor Your Dashboard: Unleash the Power of Customizable Widgets -->
                    </h2>
                    <p>Gain comprehensive insights on your influencer collaborations. Understand traffic, media statistics, and sales impacts, allowing for informed future strategies.</p>
                    <h4 class="fw-bold">Filter by:</h4>
                    <ul class="mb-0 features-list list-unstyled">
                        <li class="position-relative">
                            <i class="material-symbols-outlined">
                                done_outline
                            </i>
                            <h3 class="fw-semibold">
                                Outreach metrics
                            </h3>
                            <!-- <p>
                                Easily arrange, resize, and configure widgets to showcase the data most relevant to your workflow.
                            </p> -->
                        </li>
                        <li class="position-relative">
                            <i class="material-symbols-outlined">
                                done_outline
                            </i>
                            <h3 class="fw-semibold">
                                Click tracking
                            </h3>
                            <!-- <p>
                                Customize widget content and visualization options to match your specific preferences and priorities.
                            </p> -->
                        </li>
                        <li class="position-relative">
                            <i class="material-symbols-outlined">
                                done_outline
                            </i>
                            <h3 class="fw-semibold">
                                Sales reporting
                            </h3>
                            <!-- <p>
                                Adapt widgets to evolving business needs by adjusting layouts, styles, and data sources with ease.
                            </p> -->
                        </li>
                        <li class="position-relative">
                            <i class="material-symbols-outlined">
                                done_outline
                            </i>
                            <h3 class="fw-semibold">
                                Media tracking
                            </h3>
                            <!-- <p>
                                Integrate widgets seamlessly with other dashboard components and external systems for a cohesive user experience.
                            </p> -->
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="shape1">
            <img src="images/front-pages/shape4.png" alt="shape1">
        </div>
        <div class="shape2">
            <img src="images/front-pages/shape4.png" alt="shape2">
        </div>
    </div>

    <hr style="border-top: 2px solid #49a0e7; width: 50%; margin: 4rem auto;">

</div>
